HiKod-Data-Science/bin/
HiKod-Data-Science/include/
HiKod-Data-Science/lib/
HiKod-Data-Science/lib64/
HiKod-Data-Science/share/
HiKod-Data-Science/vgsales.csv
HiKod-Data-Science/lib64
HiKod-Data-Science/pyenv.cfg